body {
    background-color: #285238;
}

form {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    padding: 15px;
}
form > label {
    font-size: 30px;
}
#fruit-name {
    flex-basis: 60%;
    height: 100%;
    border-radius: 5px;
    font-size: 20px;
}
#add-button{
    flex-basis: 20%;
    background-color: #04e824;
    border-radius: 15px;
    border: 2px solid #34403a;
    line-height: 20%;
    padding: 20px 20px 20px 20px;
}

#fruit-basket {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    gap: 5px
}
.fruit {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background-color:#138a36;
    border-radius: 5px;
    box-shadow: 4px 5px 5px #34403a;
}
h2 {
    font-family:Arial, Helvetica, sans-serif;
    margin:10px 5px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
.fruit > button {
    margin-bottom: 10px;
    background-color: #04e824;
    border: 1px solid #34403a;
    border-radius: 5px;
}